<br>
<br>
<div id="form-collapse" class="collapse hide">
    <form ng-submit="editSubmit()" name="formrubrique" class="form-container container">
        <br>
        <div class="form-groupe-1">
            <div class="form-group">
                <label for="type">Type (*):</label>
                <span ng-show="formrubrique.type.$dirty && formrubrique.type.$error.required" class="badge badge-danger">Champ obligatoire</span>
                <!-- <input type="text" required ng-model="editRubrique.type" class="form-control" id="type" name="type"> -->
                <select required class="form-control" ng-model="editRubrique.type" name="type" id="type">
                    <option value="RBS">RBS</option>
                </select>

            </div>
            <div class="form-group">
                <label for="ordre">Ordre (*):</label>
                <span ng-show="formrubrique.ordre.$dirty && formrubrique.ordre.$error.required" class="badge badge-danger">Champ obligatoire</span>
                <input type="number" min="1" max="100" required ng-model="editRubrique.ordre" class="form-control" id="ordre" name="ordre">
            </div>






            <!-- data-toggle="collapse" data-target="#demo" -->
        </div>
        <div class="form-groupe-2">
            <div class="form-group">
                <label>Designation (*):</label>
                <span ng-show="formrubrique.designation.$dirty && formrubrique.designation.$error.required" class="badge badge-danger">Champ obligatoire</span>
                <input type="text" required ng-model="editRubrique.designation" class="form-control" id="designation" name="designation">
            </div>
        </div>
        
        <div ng-show="formrubrique.$dirty && !formrubrique.$valid" class="alert alert-danger">
            <strong>Validation!</strong> Veuillez verifier que vous avez bien rempli tous les champs.
        </div>

        <button type="submit" class="btn-validate btn btn-success ">Valider {{editoption}}</button>

        <button type="reset" class="btn-cancel btn btn-danger" ng-click="cancelEditing()">Annuler</button>
    </form>

    <br>
    <br>