<div class="animated  fadeInLeft ">
    <br>
    <br>
<h2>Informations Evaluations </h2> 
<br>
<!-- <a href="#!evaluation-add" class="btn btn-primary">
    <i class="fas fa-plus"></i> Ajouter {{sujet}}
</a> -->
<a href="" ng-click="showAddBox()" class="btn btn-primary">
    <i class="fas fa-plus"></i> Ajouter {{sujet}}
</a> 

<evaluationform></evaluationform>
<evaluationlist></evaluationlist>
<br>
<br>
<a href="#!" class="btn btn-secondary" role="button">
    <i class="fas fa-arrow-alt-circle-left"></i> Retour à la page d'acceuil
</a>
<br>
<br>
</div>
<evaluationdelete></evaluationdelete>

<rubriqueevaldelete></rubriqueevaldelete>