<div class="animated  fadeInRight">
    <br><br><br><br>
    <h3 class="detail-title">
        Détail de {{formation.nomFormation}}
    </h3>
    <br>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Code Formation</th>
                <td>{{formation.codeFormation}}</td>
            </tr>
            <tr>
                <th>Debut d'accreditation</th>
                <td>{{formation.debutAccreditation}}</td>
            </tr>
            <tr>
                <th>Fin d'accreditation</th>
                <td>{{formation.finAccreditation}}</td>
            </tr>
            <tr>
                <th>Diplome</th>
                <td>{{formation.diplome}}</td>
            </tr>
            <tr>
                <th>Double diplomation</th>
                <td>{{formation.doubleDiplome}}</td>
            </tr>
            <tr>
                <th>N°Annee</th>
                <td>{{formation.n0Annee}}</td>
            </tr>
           
        </tbody>
    </table>

    <a href="#!formations" class="btn btn-secondary" role="button">
        <i class="fas fa-arrow-alt-circle-left"></i> Retour
    </a>

</div>