<div class="container menu-stat animated fadeInUp">

    
   
    <span class="circle-can circle-info rounded-circle">
        <a href="#!couple-qualificatif">
            <div>
                <i class="img-big img-menu fas fa-comments fa-7x"></i>
                <i class="img-small img-menu fas fa-comments fa-5x"></i>
                <!-- <h6 class="menu-count">{{nombreCandidats}}</h6> -->
                <h5 class="menu-name">Couple Qualificatif</h5>
            </div>
        </a>

    </span>
    <span class="circle-pro circle-info rounded-circle">
        <a href="#!rubriques">
            <div>
                <i class="img-big img-menu fas fa-puzzle-piece fa-7x"></i>
                <i class="img-small img-menu fas fa-puzzle-piece fa-5x"></i>
                <!-- <h6 class="menu-count">{{nombrePromotions}}</h6> -->
                <h5 class="menu-name">Rubriques</h5>
            </div>
        </a>
    </span>

    <span class="circle-for circle-info rounded-circle">
        <a href="#!questions">
            <div>
                <i class="img-big img-menu fas fa-question-circle fa-7x"></i>
                <i class="img-small img-menu fas fa-question-circle fa-5x"></i>
                <!-- <h6 class="menu-count">{{nombreFormations}}</h6> -->
                <h5 class="menu-name">Questions</h5>
            </div>
        </a>
    </span>

    <span class="circle-ens circle-info rounded-circle">
        <a href="#!enseignants">
            <div>
                <i class="img-big img-menu fas fa-user fa-7x"></i>
                <i class="img-small img-menu fas fa-user fa-5x"></i>
                <!-- <h6 class="menu-count">{{nombreEnseigants}}</h6> -->
                <h5 class="menu-name">Enseignants</h5>
            </div>
        </a>
    </span>
</div>