<div class="container menu-stat animated fadeInUp">

    <span class="circle-ens circle-info rounded-circle">
        <a href="#!enseignants">
            <div>
                <i class="img-big img-menu fas fa-user fa-7x"></i>
                <i class="img-small img-menu fas fa-user fa-5x"></i>
                <h6 class="menu-count">{{nombreEnseigants}}</h6>
                <h5 class="menu-name">Enseignants</h5>
            </div>
        </a>
    </span>
    <span class="circle-for circle-info rounded-circle">
        <a href="#!formations">
            <div>
                <i class="img-big img-menu fas fa-book fa-7x"></i>
                <i class="img-small img-menu fas fa-book fa-5x"></i>
                <h6 class="menu-count">{{nombreFormations}}</h6>
                <h5 class="menu-name">Formations</h5>
            </div>
        </a>
    </span>
    <span class="circle-can circle-info rounded-circle">
        <a href="">
            <div>
                <i class="img-big img-menu fas fa-graduation-cap fa-7x"></i>
                <i class="img-small img-menu fas fa-graduation-cap fa-5x"></i>
                <h6 class="menu-count">{{nombreCandidats}}</h6>
                <h5 class="menu-name">Candidats</h5>
            </div>
        </a>

    </span>
    <span class="circle-pro circle-info rounded-circle">
        <a href="">
            <div>
                <i class="img-big img-menu fab fa-product-hunt fa-7x"></i>
                <i class="img-small img-menu fab fa-product-hunt fa-5x"></i>
                <h6 class="menu-count">{{nombrePromotions}}</h6>
                <h5 class="menu-name">Promotions</h5>
            </div>
        </a>
    </span>
</div>