<!-- The Modal -->
<div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Supprimer {{sujet}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <br>
                
                <h6>Voulez vous veaiment supprimer {{selectedEnseignant.nom}} {{selectedEnseignant.prenom}}?</h6>

                <br>
                <div ng-show="cannotRemove" class="alert alert-danger">
                    <strong>Erreur!</strong> Veuillez verifier la dependance de cet enseignant avant de le supprimer
                </div>
                <br>
                <div class="detail-button">
                    <button ng-click="validateDelete()" class="btn btn-danger">
                        Oui <i class="fas fa-trash-alt"></i>
                    </button>
                    <button ng-click="cancelDelete()" class="btn btn-success">
                        Non 
                    </button>
                </div>
            </div>       
        </div>
    </div>
</div>