<!-- <h3>Listes des Enseignant:</h3>
<br>
<div ng-repeat="enseignant in enseignants">
    <p>{{enseignant.nom}}</p>
</div> -->


<table ng-table="tableParams" class="table table-condensed table-bordered" show-filter="true">
    <tr ng-repeat="question in $data">
        <td data-title="'Intitulé'" filter="{ intitule: 'text'}" sortable="'intitule'">
            {{question.intitule}}</td>
        <td data-title="'Qualificatif'" filter="{ qualificatif: 'text'}" sortable="'qualificatif'" style="text-align: center;">
            <!-- {{getQualificatifById(question.idQualificatif)}} -->
            {{question.quaminimal}} ↨    ↨ {{question.quamaximal}} 
        </td>

        <td class="cell-button">
            <button ng-click="showDeleteBox(question)" title="Supprimer" data-toggle="modal" data-target="#delete-modal" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
            </button>
        </td>

        <td class="cell-button">
            <button ng-click="showUpdateBox(question)" title="Modifier" class="btn btn-success">
                <i class="fas fa-pencil-alt"></i>
            </button>
        </td>

        
    </tr>
</table>



