<br>
<div id="form-collapse" class="collapse hide">
    <form  ng-submit="editSubmit()" name="formQuestion" class="form-container" >
        <br>
        <div class="form-groupe-1">
            <div class="form-group">
                <label for="question"> Intitule question :</label>
                <span ng-show="formQuestion.codeFormation.$dirty && formQuestion.codeFormation.$error.required" class="badge badge-danger">Champ obligatoire</span>
                <input type="text" name="codeFormation" required ng-model="addQuestion.intitule" class="form-control" id="codeFormation" name="codeFormation" required>
            </div>

           
        </div>
        <div class="form-groupe-2">
            <div class="form-group">
              <label for="inputState">qualificatif</label>
              <span ng-show="formQuestion.qualificatif.$dirty && formQuestion.qualificatif.$error.required" class="badge badge-danger">Champ obligatoire</span>
              <select id="qualificatif" name="qualificatif" class="form-control" ng-model="addQuestion.idQualificatif" ng-options="Qualificatif.idQualificatif as ( Qualificatif.maximal+'--'+Qualificatif.minimal) for Qualificatif in Qualificatifs | orderBy:'maximal'"  required>
                 <option value=""></option>
                </select>
            </div>
        </div>


        <button  type="submit" class="btn-validate-question btn btn-success "  >Valider {{editoption}}</button>

        <button type="reset" class="btn-cancel-question btn btn-danger" ng-click="cancelEditing()">Annuler</button>

        <!-- data-toggle="collapse" data-target="#demo" -->
    </form>

</div>
<br><br>