<video autoplay muted loop id="myVideo">
    <source src="../../../images/backgroundvideo.mp4" type="video/mp4">
</video>
<div class="login-container">
    <form ng-submit="loginSubmit()" name="formlogin" class="container">

        <div class="form-group">
            <!-- <label for="username">Nom d'utilisateur :</label> -->
            <!-- <span ng-show="formlogin.username.$dirty && formlogin.username.$error.required" class="badge badge-danger">Champ obligatoire</span> -->
            <div class="input-placeholder">
                <input type="text" required ng-model="editLogin.username" class="form-control login-input" id="username" name="username">
                <div class="placeholder">
                    <i class="fas fa-user"></i> Nom d'utilisateur
                </div>
            </div>
            <!-- <input type="text" placeholder=" Nom d'utilisateur" required ng-model="editLogin.username" class="form-control login-input" id="username" name="username"> -->
        </div>
        <br>
        <div class="form-group">
            <!-- <label for="pwd">Mot de passe:</label> -->
            <!-- <span ng-show="formlogin.pwd.$dirty && formlogin.pwd.$error.required" class="badge badge-danger">Champ obligatoire</span> -->
            <!-- <input type="password" placeholder="Mot de passe" required ng-model="editLogin.pwd" class="form-control login-input" id="pwd" name="pwd"> -->
            <div class="input-placeholder">
                <input type="password" required ng-model="editLogin.pwd" class="form-control login-input" id="pwd" name="pwd">
                <div class="placeholder">
                    <i class="fas fa-key"></i> Mot de passe
                </div>
            </div>
        </div>

        <div ng-show="!statusAuthentification" class="alert alert-danger">
                <strong>Erreur!</strong> Login ou mot de passe incorrect
        </div>
        <br>
        <button type="submit" class="btn-validate btn btn-success btn-block login-button">Se Connecter</button>
    </form>
</div>